# NGINX config
NGINX_HOST="ihs.example.com"
NGINX_ALLOW="allow 192.168.1.130; allow 192.168.2.0/24;"
NGINX_VERSION="1.25"

# Zope config
ZOPE_ROOT_PASSWORD="secret"
ZOPE_VERSION="5.9"
PYTHON_VERSION="3.12"

# MariaDB config
MARIADB_ROOT_PASSWORD="secret"
MARIADB_VERSION="11.2"

# PhpMyAdmin config
PHPMYADMIN_VERSION="5.2"
